# Local package with utilities
-e .
# Dependencies for the notebooks
aeppl==0.0.50  # Waiting for #222 to be fixed on AePPL
aesara
blackjax-nightly

# Build the book
ipython
jupyter-cache
git+https://github.com/executablebooks/jupyter-book.git@master
jupytext

# Dependencies for the notebooks
arviz
blackjax-nightly
datasets
fastprogress
flax
jax
matplotlib
numpy
numpyro
optax
pandas
seaborn
scikit-learn
tensorflow-probability[jax]
probdiffeq<0.2.0
diffeqzoo