# Build the book
ipython
jupyter-book
jupytext

# Dependencies for the notebooks
blackjax-nightly
datasets
distrax
fastprogress
flax
jax
matplotlib
numpy
optax
seaborn
scikit-learn
tensorflow-probability[jax]
