# Local package with utilities
-e .


# Build the book
ipython
jupyter-cache
jupyter-book>=2
jupytext

# Dependencies for the notebooks
aeppl
aesara
arviz
git+https://github.com/blackjax-devs/blackjax.git@main
datasets
fastprogress
flax
jax
matplotlib
numpy
numpyro
optax
pandas
scikit-learn
seaborn
tfp-nightly[jax]
probdiffeq
diffeqzoo